<div class="container__big-card">

    <div class="big-card__foto">
        <img 
        src="https://www.google.com/imgres?q=xadrez%20online&imgurl=https%3A%2F%2Fplay-lh.googleusercontent.com%2F_SRZnwpGCB8w3h2eD7S7zl1QqDgpNHg3nS1yNmv-3b0CAHk1SjeJrJRIwTavpaLn2w%3Dw526-h296-rw&imgrefurl=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.chess%26hl%3Dpt&docid=IE7ooqDsNMNdwM&tbnid=Iloy39PM3ckfgM&vet=12ahUKEwj6uK7hlJSMAxUtrZUCHfmsL3AQM3oECGQQAA..i&w=395&h=296&hcb=2&ved=2ahUKEwj6uK7hlJSMAxUtrZUCHfmsL3AQM3oECGQQAA
        " 
        alt=""
        height="200px"
        width="300px"
        srcset=""
        >
    </div>

      
    <div class="big-card__title">
        <h1><a href="#">Novo Xadrez</a> xadrez</h1>
    </div>
    
    <div class="big-card__description">
        <p>
            <a href="#">
                Xadrez esporte da mente
            </a>
        </p>

    </div>
</div>
